* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* :root {
    color-scheme: white;
} */

.header {
    background-color: #cad9ca;
    display: flex;
    justify-content:space-between;
    padding: 1rem;
    align-items: center;
    margin-bottom: 5% ;
    box-shadow: 2px 2px 3px 0px rgba(48, 47, 47, 0.75);
}
body{
    font-family: sans-serif;
    text-decoration: #495453;
    background: linear-gradient(#dbdbdb, #ffffff);
};
h1 {color: #495453;
    text-decoration: none;
}
h2 {color: #495453;

}
.container {
    max-width: 1000px;
    margin: auto;
    padding: 2rem;
    display: flex;
    gap: 1rem;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.navbar-logo {
    flex: 1;
}
.navbar-logo .logo {
    max-width: 100px; /* Ajusta el tamaño del logo */
    height: auto; /* Mantén la proporción del logo */
  }
.nav-menu {
    list-style-type: none;
    display: flex;
    gap: 6rem;
}

.nav-link {
    color :#495453;
    text-decoration: none;
}

.nav-link.active {
    font-weight: #495453;
    text-decoration: underline;
}

.products-container {
    min-height: 40vh;
    display: grid;
    place-items: center;
}
.imagen { width: auto;
    height: auto;

}
.item-detail img{
    max-width: 30%;
    height: auto;
    margin: 3%;
}

.item-list-container {
    max-width: 1000px;
    margin: 0 auto;
    
}

.productos-grilla {
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
}

.producto {
    background-color: #e0d2c5;
    border-radius: .5rem;
    padding: 3rem;
    box-shadow: 5px 5px 5px 0px rgba(48, 47, 47, 0.75);
    
}

  
  .producto-imagen {
    width: 100%; 
    height: auto; 
    border-radius: 10px; 
    
  }
  

.grid {
    display: grid;
}

footer {  
    background-color: #694873;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 5rem;
}